canvas {
}
body {
   margin: 0;
   overflow: hidden;
   box-sizing: border-box;
   user-select: none;
}


button {
   background: #EEE;
   border: none;
   padding: 3px;
   border-radius: 4px;
   font-size: large;
   margin: 2px;
   cursor: pointer;
}

.tool-button {
   width: 35px;
}

.panel {
   position: absolute;
   top: 10%;
   background-color: #BBB;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
}

#toolsHolder {
   left: 0px;
}

#propertiesHolder{
   right: 0px;
}
